.forgot-page-container {
  display: flex;
  margin-top: 15%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #73be8f, #46519c);
  font-family: 'Poppins', sans-serif;
}

.forgotPassDiv {
 
  padding: 40px 30px;
  border-radius: 12px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 100%;
  max-width: 360px;
}


.Form-Title {
   color: #222222; 
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

.Input-Field {
  width: 100%;
  max-width: 270px;
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  margin-left: 30px;
  background-color: #ffffff;
  color: #333;
  outline: none;
  margin-bottom: 20px;
}

.Input-Field::placeholder {
  color: #888;
}

.updateBtn {
  width: 60%;
  max-width: 270px;
  padding: 12px;
  margin-left: 76px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.updateBtn:hover {
  opacity: 0.8;
}
