.login-page-container {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  align-items: center;
  background: linear-gradient(to right, #73be8f, #46519c);
  font-family: 'Poppins', sans-serif;
}

.loginDiv {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border-radius: 16px;
  padding: 40px 30px;
  width: 350px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.25);
  color: #222;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 20px 0;
}

.input-field{
  padding: 12px 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  background-color: #ffffff;
  color: #333;
  outline:none
}

 .input-field::placeholder {
  color: #888;
}



.loginBtn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #4b6cb7, #182848);
  color: white;
  font-weight: 600;
  margin-top: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.loginBtn:hover, .signUpBtn:hover {
  opacity: 0.8;
}

.form-title {
  text-align: center;
  color: #2c3e50;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

a {
  color: #222 !important;
  font-weight: 500;
  text-decoration: underline;
}
